// Variables
$deep-brown: #3C3744;
$light-green: #03A678;
$style3: #6C7A89;
$salmon: #ff7675;
$purple: #686de0;
$green: #21A179;

$charcoal: #364156;
$jelly-bean: #D66853;
$steel-teal: #55828B;
$dark-sea-green: #87BBA2;
$tigers-eye: #5386E4;

body {
	font-family: 'Lato', sans-serif;
  margin: 0;
}
a {
	text-decoration: none;
	color: grey;
	&:hover {
		color: $jelly-bean;
		text-decoration: underline;
	}
	&.btn {
		border: 1px solid $salmon;
		background-color: $salmon;
		color: white;
		margin: 0.5em;
		padding: 1em 2em;
	}
}
ul {
	li {
		margin-bottom: 3px;
	}
}
p {
	line-height: 1.5;
	letter-spacing: 0.50px;
}
/* Navigation */
nav {
	display: flex;
	justify-content: space-between;
	.brand {
		a {
			text-transform: uppercase;
			font-size: 14px;
		}
	}
	.page-links {
		a {
			text-transform: uppercase;
			padding: 0 0.75em;
			font-size: 12px;
		}
	}
	.social-links {
		> a {
			padding: 5px 10px;
		}
	}
}
section {
	p {
		&.bg-dark {
			color: rgba(255, 255, 255, 0.6);
		}
		&.bg-light {
			color: rgba(0, 0, 0, 0.6);
		}
	}
}
footer {
  display: flex;
  > div {
    margin: 0 auto;
  }
	.copyright {
		color: rgba(0, 0, 0, 0.6);
	}
}
.mt-0 {
	margin-top: 0;
}
.px-5 {
	padding: 2em 10em;
}
.p5 {
	padding: 4em 10em;
}
.landing-hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 75vh;
	h1 {
		font-size: 72px;
	}
}
.post-landing {
	background-color: $dark-sea-green;
	color: white;
	span {
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 3px;
		padding: 0.4em 1em;
		font-size: 12px;
	}
	.post-meta {
		color: rgba(255, 255, 255, 0.7);
	}
}
.post-content {
	h2 {
		margin-bottom: 0;
		margin-top: 20px;
	}
	img {
		width: 100%;
	}
}
.about-section {
	background-color: $charcoal;
	color: white;

}
.social-section {
	background-color: $style3;
	color: white;
	.social-section-content {
		display: flex;
		justify-content: space-between;
		& > p {
			width: 50%;
		}
		& > div {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}
.blog-content {
	display: flex;
	div {
		width: 100%;
	}
	.link-loud {
		color: $purple;
	}
}
.race-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	.race-block {
		margin: 0.75em 0;
		width: 90%;
		display: flex;
		justify-content: flex-start;
			div.race-icon {
				margin-right: 20px;
        width: 10px;
				text-align: center;
				color: white;
				&.color1 {
          background-color: $dark-sea-green;
        }
        &.color2 {
          background-color: $tigers-eye;
        }
        &.color3 {
          background-color: #E08E45;
        }
        &.color4 {
          background-color: #7D80DA;
        }
			}
		div.race-meta {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			p {
				margin-top: 0px;
			}
			s {
				color: $salmon;
			}
			.post-title {
				padding: 0;
				margin: 0;
				font-size: 16px;
				a {
					color: black;
					&:hover {
						color: $jelly-bean;
					}
				}
			}
			.date {
				margin: 0;
				font-size: 14px;
				color: rgba(0, 0, 0, 0.4);
			}
      .sub-text {
        color: rgba(0, 0, 0, 0.7);
      }
			span {
				width: 50%;
				padding: 2px 5px;
				border: 1px solid $dark-sea-green;
				color: $dark-sea-green;
				border-radius: 3px;
				margin-bottom: 10px;
				font-size: 12px;
			}
			// .btn {
			// 	margin: 0;
			// 	padding: 5px 5px;
			// 	font-size: 14px;
			// 	border-radius: 3px;
			// 	text-align: center;
			// 	background-color: $jelly-bean;
			// }
		}
	}
}

/** Post Template Styling **/
.single-page-banner {
	background-color: $charcoal;
	h1 {
		color: white;
	}
	p {
		color: rgba(255, 255, 255, 0.7);
	}
}

// Mobile screens
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 768px) {
	p {
		font-size: 18px;
	}
	.px-5 {
	padding: 2em 2em;
	}
	.p5 {
		padding: 2em 2em;
	}
  .blog-content {
		flex-wrap: wrap;
		div {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.post-content {
		h2 {
			margin-bottom: 0;
			margin-top: 20px;
		}
		img {
			width: 100%;
		}
	}
	.race-block {
		border: 2px solid #EDF4FC;
		border-left: none;
		padding: 10px 0;
	}
  .social-section-content {
    flex-direction: column;
    & > p {
			width: 100%;
		}
		& > div {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
  }
}
