---
layout: default
comments: true
---
<div id="social-sidebar" class="icon-bar">
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
	<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
</div>

<section class="post-landing p5">
	<span>{{ page.category }}</span>
	<h1 class="post-title">{{ page.title }}</h1>
  <p>{{ page.lead }}</p>
	<p class="post-meta">Posted: {{ page.date | date: "%b %d, %Y" }}</p>
</section>
<section class="post-content p5">
  {{ content }}
</section>
{% include social-banner.html %}
{% include disqus.html %}
